NODE_ENV=production

CORS_ALLOWED_ORIGINS=https://tracker.vorionsystems.com

NEXT_PUBLIC_APP_URL=https://tracker.vorionsystems.com
NEXT_PUBLIC_API_URL=https://api.vorionsystems.com
API_URL=https://api.vorionsystems.com
POSTGRES_DB=vorion_tracker
POSTGRES_USER=vorion_tracker
POSTGRES_PASSWORD=rmXahs6QpnI1KdnC8QggnSD0zurmzDFA
DATABASE_URL= "postgresql://vorion_tracker:rmXahs6QpnI1KdnC8QggnSD0zurmzDFA@pg.vorionsystems.com:6432/vorion_tracker?sslmode=verify-full"

R2_ACCOUNT_ID=acc30d70d82e8aab9babceea6e72510a
R2_ACCESS_KEY_ID=be499554cb90a7848017df3815a5a6c0
R2_SECRET_ACCESS_KEY=70cd593000591084185d168d39a5bf21ecf919be5f0f2ab53e097dbf3f56370b
R2_BUCKET_NAME=vorion-tracker-storage
R2_ENDPOINT=https://acc30d70d82e8aab9babceea6e72510a.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-6d66107001c44193a8b13e2a654e46a8.r2.dev

LIVEKIT_URL=wss://live.vorionsystems.com
LIVEKIT_API_KEY= APIgwv66qbHJV88
LIVEKIT_API_SECRET=bSKXy3yQ6f8fBqdwnXD1YrfiAzlz9MrobxOynnnb3jnA

JWT_SECRET=1dcb68a9cd9db9b18014b89537981e2b364feb7108a0fec6b0b5d532c2b0edb08d1ed55eaa4afe7c1bd59bb38050501a3d2ea0a97efdae999fb047e941d63452
SOCKET_SERVER_SECRET=5ea693dcd2257f0db8abadfda002ef1ad6f919adeb8d26e608807c9f9ee819bc46b1b01e30c5049d69b1061eda0e1945e1458dcfefcc94efe9cdc33a309d5fa8
